*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color: #f6f6f6;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    height: 95vh;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    background-color: powderblue;
}
    
h2{
    text-align: center;
    padding: 2px;
    margin-top: 2px;
    font-size: 25px;
    color: black;
}
img{
    width: 80%;
    height: 50%;
    border-radius: 10px;
    margin: 10% 10% 5% 10%;
    border:5px solid transparent;
    box-shadow: 0 5px 30px;
}
p{
    margin: 3%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    
}
input{
    width: 80%;
    margin: 2% 10%;
}
button{
    padding: 20px;
    text-align: center;
    margin-top: 2%;
    margin-left: 13%;
    margin-bottom: 4%;
    border-radius: 50%;
    background: transparent;
    border: none;
    box-shadow: 0 5px 10px;
    cursor: pointer;
}

