*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: rgb(207, 255, 207);
}

.blog-post {
  margin-bottom: 20px;
  padding: 10px;
}
.blog-post h1{
  padding: 10px;
}
h2 {
  font-size: 24px;
}
p {
  margin-bottom: 10px;
  
}
#tags {
  font-style: italic;
}
button{
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

